.root{
	position:relative;
	width:100%;
	height:100%;
}
.header{
	width:100%;
}
.container{
	height:100%;
	width:100%;
	top:0px;
	overflow:auto;
	margin-top:-70px;
	padding-top:70px;
}
.innerContent{
	padding-top:15px;
	background:#efe;
	height:100%;
	overflow-y:auto;
	overflow-x:auto;
}