.logo{
	:global{
		img{
			display:inline-block;
			width:80px;
			height:60px;
			margin:5px 0px 5px 20px;
			vertical-align:middle;
		}
		span{
			display:inline-block;
			height:70px;
			padding-top:16px;
			font-size:16px;
			vertical-align:middle;
		}
	}
}