.logo{
	:global{
		img{
			display:inline-block;
			width:65px;
			height:65px;
			margin:2px 10px;
			vertical-align:middle;
		}
		span{
			text-align:center;
			font-size:16px;
			line-height:70px;
			vertical-align:middle;
		}
	}
}